<launch>

	<arg name="table" default="false" />
	<arg name="robot_base" default="false" />
	<arg name="gripper_2f" default="false" />
	<arg name="gripper_3f" default="false" />
	<arg name="camera" default="false" />
	<arg name="camera_arm" default="false" />

	<param name="robot_description" command="$(find xacro)/xacro --inorder $(find irb2600_description)/urdf/irb2600_main.xacro 
			table:=$(arg table)
			robot_base:=$(arg robot_base)
			camera:=$(arg camera)
			camera_arm:=$(arg camera_arm)
			gripper_2f:=$(arg gripper_2f)
			gripper_3f:=$(arg gripper_3f)"/>
	
	<node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
	<node name="rviz_gui" pkg="rviz" type="rviz" output="screen"/>
	
</launch>