<?xml version="1.0" encoding="UTF-8"?>
<robot name="abb_irb2600_model" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find irb2600_description)/urdf/irb2600.xacro"/>
  <xacro:include filename="$(find irb2600_description)/urdf/gazebo.xacro"/>
  <xacro:abb_irb2600 prefix=""/>

  <link name="world"/>
  
  <joint name="fixed" type="fixed">
      <parent link="world"/>
      <child link="base_link"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
  <xacro:abb_irb2600_gazebo prefix=""/>
</robot>