<?xml version="1.0" ?>
<robot name="vacuum_end" xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:property name="PI" value="3.1415926535897931"/>
   <material name="coral2">
		<color rgba="${255/255} ${127/255} ${80/255} 1.0"/>
	</material>

 <!-- verificar angulo de camera_support -->
  <link name="vacuum_end">
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="1.570796327 0 0" />
      <mass
        value="0.30915" />
      <inertia
        ixx="0.00028972"
        ixy="-5.7879E-10"
        ixz="-1.8543E-06"
        iyy="0.00030737"
        iyz="1.682E-12"
        izz="0.00019914" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="3.1416 0 0" />
      <geometry>
        <mesh
          filename="package://irb2600_description/meshes/supports/vacuum_ee.stl" scale="0.025 0.025 0.025"/>
      </geometry>
      <material name="coral2"/>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="3.1416 0 0" /> 
      <geometry>
        <mesh
          filename="package://irb2600_description/meshes/supports/vacuum_ee.stl" scale="0.02 0.02 0.02"/>
      </geometry>
    </collision>
  </link>

  <joint name="irb2600_joint_vacuum_end" type="fixed">
    <parent link="tool0"/>
    <child link="vacuum_end"/>
    <origin rpy="0 0 -1.570796" xyz="0 0 0.0634"/>
  </joint>

</robot>